*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    
}
h1{
    margin-top: 2rem;
    color: #ffffc7;
    letter-spacing: 1rem;
}

body{
    background-color: #000404;
    text-align: center;
}

.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem ;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color:#000;
    background-color:#ffffc7;
}
#reset-btn{
    margin-right: 1rem;
    padding:1rem;
    font-size: 1.25rem;
    background-color: #ffffc7;
    color: #000;
    border-radius: 1rem;
    border:none;

}
#new-btn{
    padding:1rem;
    
    font-size: 1.25rem;
    background-color: #ffffc7;
    color: #000;
    border-radius: 1rem;
    border:none;

}
#msg{
    word-spacing: .5rem;
    margin-top: 5vmin;
    font-size: large;
    color:#ffffc7;
    font-size: 5vmin;

}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    transform: translate((-50%,-50%));

}
.hide{
    display: none;
}
